<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CaptionIngo</title>
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <section id="navbar">
      <div class="navbar-logo">
        <a href="/">CaptionIngo</a>
      </div>
      <div class="navbar-content">
        <a href="/" class="nav-link">Home</a>
      </div>
    </section>
    <!-- Content -->
    <section id="browse-captions">
      <h3>Browse Captions</h3>
      <!-- Search Box -->
      <div class="search-area">
        <form action="/browse" method="GET">
          <input type="text" name="text" placeholder="Search Caption" <% if (queryText) { %>
           value="<%= queryText %>"
          <% } %> />
          <select name="category">
            <option value="all">All</option>
            <% categories.forEach(function(category) { %>
              <option value="<%= category %>" <% if (category === queryCategory) { %>
                <%= "selected" %>
              <% } %> ><%= category %></option>
            <% }) %> 
          </select>
          <button>Search</button>
        </form>
      </div>
      <!-- Caption List -->
      <% if (captions.length > 0) { %>
        <div class="captions">
          <table>
            <thead>
              <tr>
                <td>Caption</td>
                <td>Used By</td>
                <td>Copy</td>
              </tr>
            </thead>
            <tbody>
              <% captions.forEach(function(caption) { %>
                <tr>
                  <td><%= caption.text %> </td>
                  <td><%= caption.usedBy %> </td>
                  <td><button>Copy</button></td>
                </tr>
              <% }) %> 
            </tbody>
          </table>
        </div>
      <% } else { %>
        <div class="nocaption">
          <h4>No Caption Found!</h4>
          <p>Please search again.</p>
        </div>
      <% } %>
      <!-- Paginations -->
      <ul class="pagination">
        <% for(var i = 1; i <= pages; i++) { %>
          <li class="page <% if (i == currentPage) { %><%= "active" %><% } %>">
            <a href="?text=<%= queryText %>&category=<%= queryCategory %>&page=<%= i %>"><%= i %></a>
          </li>
        <% } %>
      </ul>
    </section>
    <!-- Footer -->
    <section id="footer">
      <p class="footer-text">
        Made with <span> &#x2764;</span> by <a href="#">Zahidul Hoque Fahim</a>
      </p>
    </section>
  </body>
</html>
